@model ImageUpload
<form id="uploadForm" asp-action="AnalyzeImage" method="post">
    <div>
        <label asp-for="ImageUrl">Image URL:</label>
        <input asp-for="ImageUrl" type="text" />
    </div>
    <button type="submit">Analyze</button>
</form>


<br /><br />


<div id="results"></div>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<script>
    document.querySelector('#ImageFile').addEventListener('change', function (e) {
        const fileSize = e.target.files[0].size / 1024 / 1024;
        if (fileSize > 5) {
            document.querySelector('#analyzeButton').disabled = true;
            alert('File size exceeds 5 MB. Please choose a smaller file.');
        } else {
            document.querySelector('#analyzeButton').disabled = false;
        }
    });

    $(document).ready(function () {
        $('#imageFileInput').on('change', function () {
            var filename = $(this).val().split('\\').pop();
            console.log('File selected: ' + filename);
        });

        $('#uploadForm').on('submit', function (event) {
            event.preventDefault();

            console.log('Form submitted. Uploading file...'); 

            var formData = new FormData(this);

            $.ajax({
                type: 'POST',
                url: '/Home/AnalyzeImage',
                data: formData,
                processData: false,
                contentType: false,
                success: function (data) {
                    console.log('Upload successful!');
                    $('#results').html(data);
                },
                error: function (xhr, status, error) {
                    console.error('An error occurred during upload: ' + error);
                    $('#results').html("error");
                },
            });
        });
    });
</script>
